<footer class="footer">

    <div class="footer-top">
        <div class="container">

            <div class="footer-brand">

                <a href="#" class="logo">
                    <img src="https://www.ump.ac.za/images/umpfooter.png" alt="" style="width: 16em;">
                </a>

                <p class="footer-text">
                    A great plateform to buy, sell and rent your properties without any agent or commisions.
                </p>

            </div>

            <!-- <ul class="footer-list">

                <li>
                    <p class="footer-list-title">Company</p>
                </li>

                <li>
                    <a href="#" class="footer-link">
                        <ion-icon name="chevron-forward"></ion-icon>

                        <span class="span">About us</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="footer-link">
                        <ion-icon name="chevron-forward"></ion-icon>

                        <span class="span">Services</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="footer-link">
                        <ion-icon name="chevron-forward"></ion-icon>

                        <span class="span">Pricing</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="footer-link">
                        <ion-icon name="chevron-forward"></ion-icon>

                        <span class="span">Blog</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="footer-link">
                        <ion-icon name="chevron-forward"></ion-icon>

                        <span class="span">Login</span>
                    </a>
                </li>

            </ul>

            <ul class="footer-list">

                <li>
                    <p class="footer-list-title">Useful Links</p>
                </li>

                <li>
                    <a href="#" class="footer-link">
                        <ion-icon name="chevron-forward"></ion-icon>

                        <span class="span">Terms of Services</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="footer-link">
                        <ion-icon name="chevron-forward"></ion-icon>

                        <span class="span">Privacy Policy</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="footer-link">
                        <ion-icon name="chevron-forward"></ion-icon>

                        <span class="span">Listing</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="footer-link">
                        <ion-icon name="chevron-forward"></ion-icon>

                        <span class="span">Contact</span>
                    </a>
                </li>

            </ul> -->

            <!-- <ul class="footer-list">

                <li>
                    <p class="footer-list-title">Contact Details</p>
                </li>

                <li class="footer-item">
                    <ion-icon name="location-outline"></ion-icon>

                    <address class="address">
            C/54 Northwest Freeway,<br>
            Suite 558,<br>
            Houston, USA 485
            <a href="#" class="address-link">View on Google map</a>
          </address>
                </li>

                <li class="footer-item">
                    <ion-icon name="mail-outline"></ion-icon>

                    <a href="mailto:contact@example.com" class="footer-link">contact@example.com</a>
                </li>

                <li class="footer-item">
                    <ion-icon name="call-outline"></ion-icon>

                    <a href="tel:+152534468854" class="footer-link">+152 534-468-854</a>
                </li>

            </ul> -->
            <!-- <div class="footer-bottom" style="width: 80vw;">
                <div class="container">

                    <p class="copyright">
                        Faculty Administrators
                    </p>



                </div>
            </div> -->

            <ul class="footer-list">

                <li>
                    <p class="footer-list-title">Faculty Of Agriculture & Natural Sciences</p>
                </li>

                <li class="footer-item">
                    <ion-icon name="mail-outline"></ion-icon>

                    <a href="mailto:Nobuhle.Mkhize@ump.ac.za" class="footer-link">Nobuhle.Mkhize@ump.ac.za</a>
                </li>
                <li class="footer-item">
                    <ion-icon name="call-outline"></ion-icon>

                    <a href="tel:+27815359007" class="footer-link">+27 81-535-9007</a>
                </li>
                <li class="footer-item">
                    <ion-icon name="location-outline"></ion-icon>


                    <a href="https://www.bing.com/maps?&ty=18&q=University%20of%20Mpumalanga&ss=ypid.YN8202x4361288870172793354&mb=-25.43331~30.97416~-25.441555~30.989352&description=Cnr%20R40%20and%20D725%20Roads%20Nelspruit%201200%C2%B7Public%20educational%20institution&cardbg=%2388979C&dt=1745791200000&tt=University%20of%20Mpumalanga&tsts0=%2526ty%253D18%2526q%253DUniversity%252520of%252520Mpumalanga%2526ss%253Dypid.YN8202x4361288870172793354%2526mb%253D-25.43331~30.97416~-25.441555~30.989352%2526description%253DCnr%252520R40%252520and%252520D725%252520Roads%252520Nelspruit%2525201200%2525C2%2525B7Public%252520educational%252520institution%2526cardbg%253D%25252388979C%2526dt%253D1745791200000&tstt0=University%20of%20Mpumalanga&cp=-25.437432~30.979096&lvl=17&pi=0&ftst=0&ftics=False&v=2&sV=2&form=S00027"
                        class="address-link">Cnr R40 and D725 Roads, Mbombela 1200.</a>

                </li>

            </ul>
            <ul class="footer-list">

                <li>
                    <p class="footer-list-title">Faculty Of Development, Economics & Buisness Sciences</p>
                </li>

                <li class="footer-item">
                    <ion-icon name="mail-outline"></ion-icon>

                    <a href="mailto:siphesihle.khanyile@ump.ac.za" class="footer-link">siphesihle.khanyile@ump.ac.za</a>
                </li>
                <li class="footer-item">
                    <ion-icon name="call-outline"></ion-icon>

                    <a href="tel:+27815359007" class="footer-link">+27 81-535-9007</a>
                </li>
                <li class="footer-item">
                    <ion-icon name="location-outline"></ion-icon>


                    <a href="https://www.bing.com/maps?&ty=18&q=University%20of%20Mpumalanga&ss=ypid.YN8202x4361288870172793354&mb=-25.43331~30.97416~-25.441555~30.989352&description=Cnr%20R40%20and%20D725%20Roads%20Nelspruit%201200%C2%B7Public%20educational%20institution&cardbg=%2388979C&dt=1745791200000&tt=University%20of%20Mpumalanga&tsts0=%2526ty%253D18%2526q%253DUniversity%252520of%252520Mpumalanga%2526ss%253Dypid.YN8202x4361288870172793354%2526mb%253D-25.43331~30.97416~-25.441555~30.989352%2526description%253DCnr%252520R40%252520and%252520D725%252520Roads%252520Nelspruit%2525201200%2525C2%2525B7Public%252520educational%252520institution%2526cardbg%253D%25252388979C%2526dt%253D1745791200000&tstt0=University%20of%20Mpumalanga&cp=-25.437432~30.979096&lvl=17&pi=0&ftst=0&ftics=False&v=2&sV=2&form=S00027"
                        class="address-link">Cnr R40 and D725 Roads, Mbombela 1200.</a>

                </li>

            </ul>
            <ul class="footer-list">

                <li>
                    <p class="footer-list-title">Faculty Of Education</p>
                </li>

                <li class="footer-item">
                    <ion-icon name="mail-outline"></ion-icon>

                    <a href="mailto:mandisa.mapukata@ump.ac.za" class="footer-link">mandisa.mapukata@ump.ac.za</a>
                </li>
                <li class="footer-item">
                    <ion-icon name="call-outline"></ion-icon>

                    <a href="tel:+27815359007" class="footer-link">+27 81-535-9007</a>
                </li>
                <li class="footer-item">
                    <ion-icon name="location-outline"></ion-icon>


                    <a href="https://www.bing.com/maps?&ty=18&q=University%20of%20Mpumalanga&ss=ypid.YN8202x4361288870172793354&mb=-25.43331~30.97416~-25.441555~30.989352&description=Cnr%20R40%20and%20D725%20Roads%20Nelspruit%201200%C2%B7Public%20educational%20institution&cardbg=%2388979C&dt=1745791200000&tt=University%20of%20Mpumalanga&tsts0=%2526ty%253D18%2526q%253DUniversity%252520of%252520Mpumalanga%2526ss%253Dypid.YN8202x4361288870172793354%2526mb%253D-25.43331~30.97416~-25.441555~30.989352%2526description%253DCnr%252520R40%252520and%252520D725%252520Roads%252520Nelspruit%2525201200%2525C2%2525B7Public%252520educational%252520institution%2526cardbg%253D%25252388979C%2526dt%253D1745791200000&tstt0=University%20of%20Mpumalanga&cp=-25.437432~30.979096&lvl=17&pi=0&ftst=0&ftics=False&v=2&sV=2&form=S00027"
                        class="address-link">Cnr R40 and D725 Roads, Mbombela 1200.</a>

                </li>

            </ul>

        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">

            <p class="copyright">
                &copy; 2022 job-connect. All Right Reserved by <a href="#" class="copyright-link">codewithsadee</a>.
            </p>

            <ul class="social-list">

                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </li>

            </ul>

        </div>
    </div>

</footer>