<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>job-connect | signup.</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../public/auth/assets/css/responsive__login.css">
    <link rel="stylesheet" href="/auth/assets/css/responsive__login.css">
    <link rel="stylesheet" href="/auth/assets/css/login.css">

    <!-- --------- UNICONS ---------- -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- --------- FONT AWESOME ---------- -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" 
    integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- --------- FAVICON ---------- -->
    <link rel="shortcut icon" href="../assets/img/logo_3.png" type="image/x-icon">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="__logo">
            <img src='../assets/img/logo_2.png' alt="">
        </div>
        <form class="form" action="/auth/register/student" method="POST" style="gap: 0.5rem;">
            
            <div class="flex-column">
                <label>Full names </label>
            </div>
            
            <div class="Names__div">
                
                <div class="inputForm">
                    <i class="uil uil-user"></i>
                    <input 
                        placeholder=" Enter full names" 
                        class="input" 
                        name="name" 
                        type="text"
                        id="name"
                        autocomplete="off"
                        required 
                    />
                </div>
                
                <div class="inputForm">
                    <i class="uil uil-user"></i>
                    <input 
                        placeholder=" Enter your email" 
                        class="input" 
                        name="email" 
                        id="email"
                        type="email" 
                        autocomplete="off"
                        required
                    />
                </div>
            </div>

            <div class="flex-column">
                <label>Student number </label>
            </div>
            <div class="inputForm">
                <i class="uil uil-asterisk"></i>
                <input 
                    placeholder=" Enter your username" 
                    class="input" 
                    name="student_number" 
                    type="text" 
                    id="student_number"
                    autocomplete="off"
                    required
                />
            </div>

            <div class="flex-column">
                <label>Password </label>
            </div>
            <div class="inputForm">
                <i class="uil uil-envelopes"></i>
                <input 
                    placeholder=" Enter your password" 
                    class="input" 
                    name="password" 
                    type="password" 
                    id="password"
                    autocomplete="off"
                    required
                />
            </div>
            
            <div class="flex-column">
                <label>Confirm Password </label>
            </div>
            <div class="inputForm">
                <i class="uil uil-lock"></i>
                <input 
                    placeholder=" re-nter your password" 
                    class="input" 
                    type="password" 
                    name="confirmPassword" 
                    id="confirmPassword" 
                    autocomplete="off"
                    required
                />
                <button type="button" id="togglePassword" class="toggle-password">
                    <i class="uil uil-eye" id="open_eye"></i>
                </button>
            </div>

            <div class="terms__conditions__div">
                <input type="checkbox" id="terms" name="terms" required>
                <p>I accept the <a href="/terms-and-conditions" target="_blank">terms and conditions.</a></p>
            </div>
            
            <button class="button-submit" id="signupBtn">Sign Up</button>
            <p class="p">Already have an account? <a href="/auth/login" class="span">Sign in</a></p>
    
        </form>
    </div>
    <script>
        const passwordInput = document.getElementById('password');
        const togglePasswordButton = document.getElementById('togglePassword');
        const open_eye = document.getElementById('password');
        const closed_eye = document.getElementById('togglePassword');
  
        togglePasswordButton.addEventListener('click', () => {
          const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
          passwordInput.setAttribute('type', type);
  
          const icon = togglePasswordButton.querySelector('i');
          icon.classList.toggle('uil-eye');
          icon.classList.toggle('uil-eye-slash');
        });
  
    </script>
    <script>
        const termsCheckbox = document.getElementById('terms');
        const signupButton = document.getElementById('signupBtn');

        function toggleButtonState() {
            signupButton.disabled = !termsCheckbox.checked;
        }

        termsCheckbox.addEventListener('change', toggleButtonState);

        toggleButtonState();
    </script>
</body>
</html>